body {
    margin: 0;
}

#welcome, footer {
    display: grid;
    place-items: center;
    align-content: center;
    
}

#welcome {
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom right,rgba(204, 43, 94, 1), rgba(117, 58, 136, 1)) */
}

footer {
    min-height: 7vh;
    background-color: blue;
}

#bio {
    min-height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 30%;
    height: 105%;
    padding: 2%;
}

#desc {
    display: inline-block;
    font-family: 'Lato';
    font-size: 1.2vw;
    line-height: 200%;
    text-align: center;
    padding: 5%;
}