body {
    margin: 0;
}

#welcome, footer {
    display: grid;
    place-items: center;
    align-content: center;
    
}

#welcome {
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom right,rgba(204, 43, 94, 1), rgba(117, 58, 136, 1)) */
}

#bio {
    min-height: 90vh;
}

footer {
    min-height: 10vh;
    background-color: blue;
}

img {
    width: 25%;
    height: 100%;
    float: right;
    margin-right: 5%;
    margin-top: 7%
}

#desc {
    display: inline-block;
    margin-top: 8%;
    margin-left: 5%;
    font-family: 'Lato';
    font-size: 125%;
    line-height: 175%;
    text-align: center;

}